.our-expertise {
  background-color: $text-color-white;
  padding: 72px 0;
  border-radius: 30px;

  @include onTablet {
    padding: 128px 0;
  }

  @include onSmallDesktop {
    padding: 128px 0 134px 0;
  }

  @include pagePaddings;

  &__title {
    font-size: 44px;
    line-height: 52.8px;
    text-align: center;
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 64px;
    }
  }

  &__e-cards {
    display: flex;
    flex-direction: column;
    gap: 56px;

    @include onSmallDesktop {
      flex-direction: row;
      justify-content: space-between;
    }


    .e-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      &__photo {
        width: 166px;
        height: 166px;
        margin-bottom: 32px;
        border-radius: 30px;
      }

      &__title {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 16px;
      }

      &__description {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: $black-text-color;

        @include onTablet {
          width: 362px;
        }

        @include onSmallDesktop {
          width: 214px;
        }

        @include onDesktop {
          width: 264px;
        }
      }
      @include hover(transform, scale(1.1));
    }
  }
}
