.who-we-are {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @include page-paddings;

  @include on-small-desktop {
    height: 504px;
  }

  &__title {
    line-height: 48px;
  }

  &__description {
    font-size: 22px;
    line-height: 33px;
    color: $grey-text-color;

    @include on-tablet {
      font-style: 24px;
      line-height: 36px;
    }
  }
}
